<?xml version="1.0"?>

<launch>
  <arg name="node_name" value="tug_observers_python_node" />

    <node name="$(arg node_name)" pkg="tug_observers" type="observer_node.py" output="screen">

    <rosparam command="load" file="$(find tug_observers)/config/paul/observers_python.yaml" />

  </node>

</launch>
