<?xml version="1.0"?>

<launch>
  <arg name="node_name" value="tug_observers_cpp_node" />
  
<!--  <node name="$(arg node_name)" pkg="tug_observers" type="tug_observers_node" output="screen" launch-prefix="valgrind"> -->
 <node name="$(arg node_name)" pkg="tug_observers" type="tug_observers_node" output="screen">
    <rosparam command="load" file="$(find tug_observers)/config/anna/observers_cpp.yaml" />
  
  </node>

</launch>
